* {
    margin: 0;
    padding: 0;
}

body {
    background: #C5D7D9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #515050;
    margin-bottom: 0;
}

header img {
    margin-left: 25px;
    width: 35px;
}

nav ul {
    font-size: 15px;
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    font-weight: bold;
}

nav ul li a {
    color: #013440;
    text-decoration: none;
}

.cadastro {
    background-color: #F28241;
    color: white;
    border-radius: 20px;
    padding: 15px;
    transition: transform all .5s ease;
}


.cadastro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); 
}

.cadastro-container {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.cadastro-container h1 {
    font-size: 28px;
    color: #013440;
    margin-bottom: 20px;
}

.cadastro-container label {
    display: block;
    font-weight: bold;
    color: #013440;
    margin-bottom: 10px;
    text-align: left; 
}

.cadastro-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left; 
}


.btn-cadastro {
    width: 100%;
    padding: 10px;
    background-color: #013440;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cadastro:hover {
    background-color: #F28241;
}

.cadastro-container p {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.cadastro-container a {
    color: #013440;
    text-decoration: none;
}

.cadastro-container a:hover {
    text-decoration: underline;
}


footer {
    background-color: white;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

footer img {
    width: 100px;
    height: auto;
}

.navegação__lista {
    list-style: none;
}

.navegação__lista li a {
    color: #013440;
    text-decoration: none;
}

.navegação__lista li a:hover {
    text-decoration: underline;
}

.lista__nav-titulo {
    color: #013440;
    border-bottom: 2px solid #013440;
}