header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Espalha os elementos dentro do header */
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #515050;
    margin-bottom: 0;
}

header img {
    margin-left: 25px;
    width: 35px;
}

nav ul {
    font-size: 15px;
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    font-weight: bold;
}

nav ul li a {
    color: #013440;
    text-decoration: none;
}

.usuario {
    text-align: center;
    align-items: center;
}

.landing-freelancer{
    padding-bottom: 25px;
    /* border-bottom: 4px solid #F28241; */
}

.login{
    list-style: none;
    display: flex;
    gap: 20px;
}

.login .facaLogin{
    text-decoration: none;
    color: #013440;
}

.cadastro{
    text-decoration: none;
    background-color: #F28241;
    color: white;
    border-radius: 20px;
    padding: 15px;
    transition: transform all .5s ease;
}

@media screen and (max-width: 750px) {
    .usuario{
        display: none;
    }
}