.oportunidades{
    width: 1250px;
    /* margin-top: 20px; */
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 3 colunas de tamanho igual */
    grid-gap: 20px; /* Espaçamento entre os itens */
    margin: 0 auto;
}

.vantagens{
    margin-top: 100px;
    align-items: center;
}

.vantagens ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.vantagens h1{
    font-weight: normal;
    font-size: 50px;
}

.vantagens span{
    color: #F28241;
}

.oportunidades{
    display: flex;
}

.img-vantagens-1{
    display: none;
}

.oportunidades .img-vantagens img{
    margin-top: 40px;
    width: 600px;
    border-radius: 50px;
}

.vantagens p{
    margin-top: 10px;
    margin-bottom: 30px;
}

.btn-work{
    text-decoration: none;
    color: white;
    background-color: #013440;
    padding: 15px;
    border-radius: 20px;
    margin-right: 20px;
    transition: .5s;
}

.btn-work:hover{
    background-color: #F28241;
}

.btn-contract{
    color: #013440;
    text-decoration: none;
    font-weight: bold;
    transition: all .5s ease;
}

.btn-contract:hover{
    color: #F28241;
}

@media screen and (max-width: 750px) {
    .oportunidades{
        max-width: 95%;
        flex-direction: column;
    }

    .oportunidades .img-vantagens img{
        display: none;
    }

    .img-vantagens-1{
        display: block;
        text-align: center;
    }

    .img-vantagens-1 img{
        margin-top: 10px;
        width: 75%;
        border-radius: 25px;
    }

    .vantagens{
        margin-top: 20px;
    }

    /* .vantagens ul li{
        font-size: 7px;
    } */

    .li1{
        font-size: 10px;
    }

    .vantagens h1{
        text-align: center;
        font-size: 35px;
    }

    .vantagens p{
        text-align: center;
    }

    .li1{
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

}